<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <div class="row d-flex justify-content-center mt-1">
        <div class="col-md-9">
          <h1 class="text-center h1">Cadastrar</h1>
          <form>
            <div class="form-group">
              <label for="">Nome:</label>
              <input type="text" class="form-control" placeholder="seu nome"/>
            </div>
            <div class="form-group">
              <label for="">E-mail:</label>
              <input type="email" class="form-control" placeholder="email@email.com"/>
            </div>
            <div class="form-group">
              <label for="">Senha:</label>
              <input type="password" class="form-control" placeholder="********"/>
            </div>
            <div class="form-group">
              <label for="">Confirmar Senha:</label>
              <input type="password" class="form-control" placeholder="********"/>
            </div>
            <div class="form-group">
              <label for="">Imagem:</label>
              <input type="text" class="form-control" placeholder="url da imagem.jpg"/>
            </div>
            <div class="form-group">
              <label for="">Tipo de Usuário:</label>
              <select name="" id="" class="form-control">
                <option value="" selected disabled>
                  Selecione um tipo de usuário
                </option>
                <option value="">Padrão</option>
                <option value="">Administrador</option>
              </select>
            </div>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary w-100">Cadastrar</button>
            </div>
            <p class="text-center h6 mt-2 mb-3">Já possui uma conta? <a href="#">Entrar.</a></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="imgBg"></div>
  </div>
</div>
